.App {
  max-width: 550px;
  margin: 40px auto;
}

button{
  background: none;
  border: 2px solid  #FF6600;
  padding: 6px 12px;
  border-radius: 4px;
  color: #FFD11A ;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover{
  background: #e45c02;
  color: #fff;
}
.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 60%;
   margin-left: auto;
   margin-right: auto;
}
.front{
  width: 150px;
  height: 150px;
}
.back{
  width: 150px;
  height: 180px;
}
.card{
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
 
}
.card img {
   width: 100%;
   height: 95%;
  display: block;
  border: 2px solid white;
  border-radius: 6px ;
  background-color: #FFD11A;
  -webkit-user-drag: none;
}
.card .front{
 
  position: absolute;
}
.flipped .front{
}