
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@500&display=swap');
body {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #004C99 ;
  color: #FFD11A ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
 
}
